body {
    margin: 0;
}

h1 {
    border-bottom: solid 2px gray;
    margin: 0;
    padding: 15px;
    text-align: center;
}

#article {
    padding: 0 10px 10px 10px;
}

@media (min-width: 730px) {
    #grid {
        display: grid;
        grid-template-columns: 135px 1fr;
    }

    #grid ol {
        border-right: solid 2px gray;
        margin: 0;
        padding: 15px 15px 15px 30px;
    }

    #grid #article {
        padding: 0 15px 0 15px;
    }

}